arabic-reshaper==2.1.4
asgiref==3.4.1
dataclasses==0.8
Django==3.2.16
django-widget-tweaks==1.4.11
future==0.18.2
html5lib==1.1
Pillow==8.4.0
PyPDF2==2.12.1
python-bidi==0.4.2
pytz==2022.6
reportlab==3.6.6
six==1.16.0
sqlparse==0.4.3
typing_extensions==4.1.1
webencodings==0.5.1
xhtml2pdf==0.2.5